# fly.toml app configuration file generated for imitation-broken-dawn-9001 on 2025-12-08T05:11:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'imitation-broken-dawn-9001'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
